@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
/*Personalizacion en pc del header*/
nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    width: 100%;
    height: 8vh; 
    padding: 0 50px;
}
.logo{
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.menuu{
    display: flex;
}
.menuu li{
    list-style: none;
    margin: 0 15px;
}
.menuu .menu-i{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s ease-in-out;
}
.menuu .menu-i:hover{
    color: brown;
}
.menu-btn{
    display: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.nav__input{
    display: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
/*personalizacion del centro de la pagina principal*/
.center{
    background-image:url(imagenes/img4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 55px;
    color: white;
    font-weight: 800;
}
.subtitle{
    color: white;
    font-size: 50px;
    font-weight: 800;
}
.btns{
    display: flex;
    margin: 10px;
}
button{
    color: white;
    border: 3px solid white;
    width: 145px;
    height: 45px;
    background: transparent;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    transition: .3s ease-in-out;
}
.button2{
    color: white;
    background: gray;
    font-weight: 600;
}
button:hover{
    background: white;
    color: black;
}
/*presentacion despues del login*/
.present{
    background: url(imagenes/imgvst1.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-image: center;
    background-size: cover;
}
.present1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    align-items: center;
}
.present h1{
    color: white;
    font-size: 45px;
    font-weight: 900;
    
}
.present1 h1 p{
    width: 450px;
}
.img_1{
    width: 500px;
    height: 500px;
}
.present p{
    margin: 10px;
    color: white;
    font-size: 20px;
    width: 50%;
    font-style: italic;
}


/*personalización del header en telefonos con bars*/
@media screen and (max-width: 800px){
    .menu-btn{
        display: block;
    }
    .menuu{
        position: fixed;
        top: 8vh;
        left: 0;
        background: aquamarine;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        line-height: 100px;
        transform: translateX(-100%);
        transition: .3s ease-in-out;
    }
    .nav__input:checked + .menuu{
        transform: translateX(0);
    }
    .menuu .menu-i{
        color: black;
    }
    .menuu .menu-i:hover{
        color: white;
    }
    /*personalizacion de la pantalla principal en cell*/
    .center{
        text-align: center;
      }
}